@model List<Library.Domain.Models.Search.SearchResult>

@{
    ViewBag.Title = "Результат поиска";
    Layout = "_Layout";
}

<div class="container">
    @if (Model.Count == 0)
    {
        <div class="alert alert-warning alert-dismissible fade show">
            <h4 class="alert-heading">Результаты поиска</h4>
            <p>
                По указанному запросу <b>"@ViewBag.search"</b> ничего не найдено. 
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-info alert-dismissible fade show">
            <h4 class="alert-heading">Результаты поиска</h4>
            <p>
                Введенный запрос: "<b>@ViewBag.search</b>"
            </p>
        </div>
        foreach (var item in @Model)
         {
             <div class="card mb-1">
                 <div class="card-body">
                     <h4 class="card-title">
                         <a href="@item.Uri">@item.Title</a>
                     </h4>
                     <p class="card-text">@item.Description</p>
                 </div>
             </div>
         }
    }

</div>
