@using System.Web
@using Library.Database.Models.RSS
@model System.Collections.Generic.List<Library.Domain.Models.RSS.RssGroupModel>

@{
    ViewBag.Title = "RSS";
    Layout = "_Layout";
    int index = 0;
    int otherIndex = 0;
}

<style>
    .mysearch {
        height: 50px;
        border-radius: 10px;
    }

    .btn { border-radius: 10px; }
    
    .cardnullround {
        border-radius: 0;
    }
    
    .nav-pills > li > a.active {
        background-color: slategrey!important;
    }
</style>

<div class="container">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Внимание!</h4>
        <p>
            При обновлении новостей загрузка может занять много времени. Это может быть связано с работой поставщиков
            RSS-контента, а также с большим количеством источников.
        </p>
        <hr>
        <p class="mb-0">Чтобы ознакомиться с инструкцией пользования этой страницей, нажмите на заголовок "RSS-Новости". Приятного использования :)</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a data-toggle="collapse" href="#rsscollapse" aria-expanded="false" aria-controls="rsscollapse" style="color: black">
                <h2 align="left" data-toggle="tooltip" data-placement="left" title="Нажмите, чтобы увидеть инструкцию">RSS-Новости</h2>
            </a>
        </div>
        <div class="col-sm-8">
            <div class="btn-group" role="group" aria-label="btn group" style="float: right">
                @if (Model.Any(a => a.Source.Uri == null))
                {
                    <button class="btn btn-light-green" type="button" data-toggle="modal" data-target="#CreateArticle">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Добавить новость
                    </button>
                }
                <button class="btn btn-light-green" type="button" data-toggle="modal" data-target="#CreateMyChannel">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Добавить свой канал
                </button>
                <button class="btn btn-light-green" type="button" data-toggle="modal" data-target="#CreateFromUri">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Добавить из URL
                </button>
            </div>
        </div>
    </div>
    
    <div class="collapse" id="rsscollapse">
        <hr>
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-mychannel-tab" data-toggle="pill" href="#pills-mychannel" role="tab"
                   aria-controls="pills-mychannel" aria-selected="true">
                    Свои каналы
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-otherchannel-tab" data-toggle="pill" href="#pills-otherchannel" role="tab"
                   aria-controls="pills-otherchannel" aria-selected="false">
                    Сторонние каналы
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-allrules-tab" data-toggle="pill" href="#pills-allrules" role="tab"
                   aria-controls="pills-allrules" aria-selected="false">
                    Общие сведения
                </a>
            </li>
        </ul>
        <div class="tab-content pt-2 pl-1" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-mychannel" role="tabpanel" aria-labelledby="pills-mychannel-tab">
                <div class="card-group">            
                    <div class="card cardnullround">
                        <div class="card-body">
                            <h6 class="card-title">Как добавить свой канал?</h6>
                            <p class="card-text">Нажмите на кнопку "Добавить свой канал" и в открывшемся модальном окне введите название канала.</p>
                        </div>                
                    </div>                
                    <div class="card cardnullround">
                        <div class="card-body">
                            <h6 class="card-title">Как добавить новость в свой канал?</h6>
                            <p class="card-text">
                                <li class="dark-grey-text">Если свой канал уже создан, то справа от заголовка страницы появится еще одна кнопка "Добавить новость".</li>
                                <li class="dark-grey-text">Нажмите на эту кнопку.</li>
                                <li class="dark-grey-text">В открывшемся модальном окне выберите свой канал (их может быть несколько) и заполните форму.</li>
                                <li class="dark-grey-text">После нажатия кнопки "Добавить" страница перезагрузится, а ваша новость будет добавлена в канал.</li>
                            </p>                
                        </div>                
                    </div>                
                </div>
            </div>
            <div class="tab-pane fade" id="pills-otherchannel" role="tabpanel" aria-labelledby="pills-otherchannel-tab">
                <div class="card-group">            
                    <div class="card cardnullround">
                        <div class="card-body">
                            <h6 class="card-title">Какие могут быть источники?</h6>
                            <p class="card-text">URL должны содержать ссылку на XML-страницу с генерируемыми новостями.</p>
                            <a role="button" class="btn btn-light-green btn-md" href="https://news.yandex.ru/computers.rss">Пример</a>
                        </div>                
                    </div>                
                    <div class="card cardnullround">
                        <div class="card-body">
                            <h6 class="card-title">Как добавить сторонний источник?</h6>
                            <p class="card-text">Нажмите на кнопку "Добавить из URL" и в открывшемся модальном окне введите URL источника новостей</p>                
                        </div>                
                    </div>                
                </div>
            </div>
            <div class="tab-pane fade" id="pills-allrules" role="tabpanel" aria-labelledby="pills-allrules-tab">
                <div class="card cardnullround">
                    <div class="card-body">
                        На этой странице представлен функционал работы с RSS-источниками. Все источники разделены по вкладкам,
                        что позволяет не терять нужные новости из внимания. Далее описаны основные возможности работы с RSS.                    
                    </div>
                </div>
                <div class="card-group">
                    <div class="card cardnullround">
                        <div class="card-body">
                            <h6 class="card-title">Добавление каналов</h6>
                            <p class="card-text">Вы можете создать свои каналы для добавления новостей.</p>
                        </div>
                    </div>
                    <div class="card cardnullround">
                        <div class="card-body">
                            <h6 class="card-title">Добавление новостей</h6>
                            <p class="card-text">Если свой канал уже создан, появляется возможность добавления новостей в эти каналы.
                                В каналы из сторонних источников свои новости добавить нельзя.</p>
                        </div>
                    </div>
                    <div class="card cardnullround">
                        <div class="card-body">
                            <h6 class="card-title">Сторонние источники</h6>
                            <p class="card-text">Вы можете добавить сторонние источники RSS-контента, введя URL в форму ввода. Каждый из источников
                                будет отображаться в отдельной вкладке.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr>
    
    
    @if (@Model.Count == 0)
    {
        <div class="alert alert-info" role="alert">
            Новостей пока нет. Добавьте источник RSS, чтобы увидеть новостную ленту.
        </div>
    }
    else
    {
        <!--Шапка вкладок-->
        <ul class="nav nav-tabs mb-3" id="RssTab" role="tablist">
            @foreach (var rssGroupModel in Model)
            {
                if (index == 0)
                {
                    <li class="nav-item">
                        <a class="nav-link active"
                           id="tabpanel-@rssGroupModel.Source.RssSourceGuid"
                           data-toggle="tab" href="#id-@rssGroupModel.Source.RssSourceGuid"
                           role="tab" aria-controls="tabpanel-@rssGroupModel.Source.RssSourceGuid"
                           aria-selected="true">
                            @rssGroupModel.Source.Title
                        </a>
                    </li>
                    index = index + 1;
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link"
                           id="tabpanel-@rssGroupModel.Source.RssSourceGuid"
                           data-toggle="tab" href="#id-@rssGroupModel.Source.RssSourceGuid"
                           role="tab" aria-controls="tabpanel-@rssGroupModel.Source.RssSourceGuid"
                           aria-selected="false">
                            @rssGroupModel.Source.Title
                        </a>
                    </li>
                }
            }
        </ul>
    
        <!--Контент во вкладках-->
        <div class="tab-content" id="RssTabContent">
            @foreach (var rssGroupModel in Model)
            {
                if (otherIndex == 0)
                {
                    <div class="tab-pane fade show active"
                         id="id-@rssGroupModel.Source.RssSourceGuid" role="tabpanel"
                         aria-labelledby="tabpanel-@rssGroupModel.Source.RssSourceGuid">
    
                        @if (@rssGroupModel.Source.Uri == null)
                        {
                            if (@rssGroupModel.Items.Count == 0)
                            {
                                <div class="alert alert-info" role="alert">
                                    В канале "@rssGroupModel.Source.Title" нет новостей. Нажмите кнопку "Добавить новость", чтобы тут что-то появилось.
                                </div>
                            }
                        }
    
                        @foreach (var item in rssGroupModel.Items)
                        {   
                            <div class="card mb-1">
                                @if (@item.PubDateString != null)
                                {
                                    <div class="card-header">
                                        <p class="card-text">Опубликовано @item.PubDateString</p>
                                    </div>
                                }
                                <div class="card-body">
                                    <h4 class="card-title">@item.Title</h4>
                                    <p class="card-text">@Html.Raw(HttpUtility.HtmlDecode(@item.Description))</p>
                                </div>
                                <div class="card-footer">
                                    <a href="@item.Link" class="btn btn-light">Подробнее</a>
                                </div>
                            </div>
                        }
                    </div>
                    otherIndex = otherIndex + 1;
                }
                else
                {
                    <div class="tab-pane fade"
                         id="id-@rssGroupModel.Source.RssSourceGuid" role="tabpanel"
                         aria-labelledby="tabpanel-@rssGroupModel.Source.RssSourceGuid">
    
                        @if (@rssGroupModel.Source.Uri == null)
                        {
                            if (@rssGroupModel.Items.Count == 0)
                            {
                                <div class="alert alert-info" role="alert">
                                    В канале "@rssGroupModel.Source.Title" нет новостей. Нажмите кнопку "Добавить новость", чтобы тут что-то появилось.
                                </div>
                            }
                        }
    
                        @foreach (var item in rssGroupModel.Items)
                        {
                            if (item.RssSourceGuid == rssGroupModel.Source.RssSourceGuid)
                            {
                                <div class="card mb-1">
                                    @if (@item.PubDateString != null)
                                    {
                                        <div class="card-header">
                                            <p class="card-text">Опубликовано @item.PubDateString</p>
                                        </div>
                                    }
                                    <div class="card-body">
                                        <h4 class="card-title">@item.Title</h4>
                                        <p class="card-text">@Html.Raw(HttpUtility.HtmlDecode(@item.Description))</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="@item.Link" class="btn btn-light">Подробнее</a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            }
        </div>
    }
</div>

<div class="modal fade" id="CreateFromUri" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info modal-full-height modal-top" role="document">
        <div class="modal-content">
            <form method="post" asp-controller="Rss" asp-action="AddSource" class="needs-validation" novalidate>
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Добавление источника RSS из URI</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fa fa-external-link-square prefix grey-text"></i>
                        <input type="text" name="uri" class="form-control validate" required="">
                        <label data-error="wrong" data-success="right" for="uri">Ссылка</label>
                        <div class="valid-tooltip">
                            Верно!
                        </div>
                        <div class="invalid-tooltip">
                            Значение не может быть пустым
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="row">
                        <button class="btn btn-warning" type="button" data-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-info">СОХРАНИТЬ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateMyChannel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info modal-full-height modal-top" role="document">
        <div class="modal-content">
            <form method="post" asp-controller="Rss" asp-action="AddMySource" class="needs-validation" novalidate>
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Добавление личного RSS-канала</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fa fa-external-link-square prefix grey-text"></i>
                        <input type="text" name="name" class="form-control validate" required="">
                        <label data-error="wrong" data-success="right" for="name">Название</label>
                        <div class="valid-tooltip">
                            Верно!
                        </div>
                        <div class="invalid-tooltip">
                            Значение не может быть пустым
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="row">
                        <button class="btn btn-warning" type="button" data-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-info">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info modal-top" role="document">
        <div class="modal-content">
            <form method="post" asp-controller="Rss" asp-action="AddArticle" class="needs-validation" novalidate>
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Добавление новости</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    <select class="form-control mysearch" id="source-dropdown" name="rsssourceguid" required>
                        <option value="">Выберите канал</option>
                        @foreach (var item in @Model.Where(@a => a.Source.Uri == null).ToList())
                        {
                            <option value="@item.Source.RssSourceGuid">@item.Source.Title</option>
                        }
                    </select>
                    <div class="valid-tooltip">
                        Верно!
                    </div>
                    <div class="invalid-tooltip">
                        Выберите один пункт из выпадающего списка
                    </div>

                    <div class="md-form mb-5">
                        <i class="fa fa-external-link-square prefix grey-text"></i>
                        <input type="text" name="title" class="form-control validate" required="">
                        <label for="title">Заголовок</label>
                        <div class="valid-tooltip">
                            Верно!
                        </div>
                        <div class="invalid-tooltip">
                            Значение не может быть пустым
                        </div>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fa fa-external-link-square prefix grey-text"></i>
                        <textarea type="text" id="description" name="description" class="md-textarea form-control" rows="4" required></textarea>
                        <label for="description">Название</label>
                        <div class="valid-tooltip">
                            Верно!
                        </div>
                        <div class="invalid-tooltip">
                            Значение не может быть пустым
                        </div>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fa fa-external-link-square prefix grey-text"></i>
                        <input type="text" name="link" class="form-control validate" required="">
                        <label for="link">Ссылка на источник</label>
                        <div class="valid-tooltip">
                            Верно!
                        </div>
                        <div class="invalid-tooltip">
                            Значение не может быть пустым
                        </div>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fa fa-external-link-square prefix grey-text"></i>
                        <input type="text" name="enclosure" class="form-control">
                        <label for="enclosure">Ссылка на изображение</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="row">
                        <button class="btn btn-warning" type="button" data-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-info">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load',
            function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms,
                    function(form) {
                        form.addEventListener('submit',
                            function(event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            },
                            false);
                    });
            },
            false);
    })();
</script>
<script>
    $('.collapse').collapse()
</script>